__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.git
*.csv
*.zip
*.tar.gz
tests/
docs/
notebooks/
.env
__pycache__/
*.pyc
tensorflow/
outputs/
*.json
*.md
*.whl
data/
media/
.DS_Store
.env
.venv